
<div class="card" style="width: 30rem";>
  <%= form_with(model: friend) do |form| %>
    <% if friend.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>
        <ul>
          <% friend.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="card-header">
        <% if @friend.new_record? %>
          <h2 class="card-title">New Friend</h2>
        <% else %>
          <h2 class="card-title">Edit Friend</h2>
        <% end %>
    </div>

    <div class="card-body">
      <div class="form-group">
        <%= form.label :first_name, style: "display: block" %>
        <%= form.text_field :first_name, placeholder: "First Name", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :last_name, style: "display: block" %>
        <%= form.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :email, style: "display: block" %>
        <%= form.text_field :email, placeholder: "Email", class: "form-control w-50" %>
      </div>

      <div class="form-group">
        <%= form.label :phone, style: "display: block" %>
        <%= form.text_field :phone, placeholder: "Phone", class: "form-control w-50" %>
      </div>

      <div class="form-group">
        <%= form.label :twiter, style: "display: block" %>
        <%= form.text_field :twiter, placeholder: "Twitter", class: "form-control w-50"  %>
      </div>

      <div class="form-group">
        <%= form.label :name, style: "display: block" %>
        <%= form.text_field :name, placeholder: "Name", class: "form-control"  %>
      </div>

      <div class="form-group">
        <%= form.label :comment, style: "display: block" %>
        <%= form.textarea :comment, placeholder: "Comment", class: "form-control"  %>
      </div>

      <div class="form-group">
        <%= form.label :age_num, style: "display: block" %>
        <%= form.number_field :age_num, placeholder: "Age", class: "form-control  w-25"  %>
      </div>

      <div class="form-group">
        <%= form.label :birth_date, style: "display: block" %>
        <%= form.date_field :birth_date, placeholder: "Birth Date", class: "form-control w-50"  %>
      </div>

      <div class="form-group">
        <%= form.label :salary_amt, style: "display: block" %>
        <%= form.text_field :salary_amt, placeholder: "Salary", class: "form-control w-25"   %>
      </div>

      <div class="form-group">
        <%= form.label :isbest, "Best Friend?", style: "display: block" %>
        <%= form.checkbox :isbest, class: "form-check-input" %>
      </div>

      <div ="form-group">
        <%= form.number_field :user_id,id: :friend_user_id, value: current_user.id, type: "hidden" %>
      </div>
    </div>

    <div class="card-footer d-flex">
      <% if @friend.new_record? %>
        <%= form.submit "Save",  class: "btn btn-primary ms-auto me-3" %>

      <% else %>
        <%= form.submit "Update",  class: "btn btn-primary ms-auto me-3" %>

      <% end %>

      <%= link_to "Cancel", friends_path, class: "btn btn-secondary" %>
    </div>

  <% end %>
</div>